<h1>Editing event</h1>
<% if current_user == @event.user %>
<%= render 'form' %>
<% else %>
YOu must be the owner of this event for you to edit it.
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
